tiktoken
--extra-index-url https://download.pytorch.org/whl/cu129
torch 
torchvision
boto3
python-dotenv
transformers 
datasets 
accelerate 
sentence-transformers
ipywidgets
matplotlib
botocore
langchain
langchain-aws
langchain-community
PyMuPDF
tabula-py
faiss-cpu